@import "../../../variables.scss";

.button{
  border-radius: 1000px;
  padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
  font-size: 1.25rem;
  background: none;
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px;
  &:hover{
    background-color: $dark;
    color: $light;
    border: solid 1px $dark;
    
  }
}

.btns-social{
  margin: 3rem 0;
  a{
    font-size: 4rem;
    text-decoration: none;
    transition: all 300ms ease-out;
    margin: 0 1rem;
  }
  a:hover{
    opacity: 0.5;
    transition: all 300ms ease-out;
  }
  svg{
    width: $gutter;
  }
}

.button-social{
width:56px;
}
