@import "../../../mixins.scss";
@import "../../../variables.scss";
.nav{
	width: 100%;
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
    top: 0;
    left: 0;
	will-change: transform;
	@include vendor-prefix('transition','transform .35s');
	min-height: 55px;
    background-color: $nav-bg;
	box-shadow: 0px 2px 40px 0px $mid-light;
	z-index: 999;

	.logo{
		padding-top: .5rem;
        padding-left: .5rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		padding-right: $gutter/3;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	
	li{
		a {
			display: block;
			text-decoration: none;
			padding: 1.1rem 1.25rem 0 1rem;
			border-bottom: solid 2px transparent;
			height: 100%;
		}
		svg {width:22px;} 
		.active{border-bottom: solid;}
	}

}

// show hide menu JS

.is-hidden {
	@include translate(0, -100%);
  }

.slide-up {
	@include translate(0, -60px);
}

@media #{$device-x-small} {
	.nav li a {
		padding: 1.1rem .6rem 0 1rem;
	}
}
