@import "./mixins.scss";
@import "./variables.scss";
@import "./type.scss";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  // font-size: 18px;
  font-family: $font-sans-serif;
  color: $dark;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: normal;
}


body {
  background-color: $site-bg;
}

* {
    @include vendor-prefix('box-sizing','border-box');
}

*:focus {outline: none;}
