
h1, h2, h3 {
  font-weight: 300;
  line-height: 1.25;
}

h1{
  font-family:$font-serif;
}

h2{
  font-family:$font-serif;
  font-size: 1.85rem;
}

h3{
  font-size: 1.65rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
